/* PLEASE DON'T JUDGE ME I'M ILLITERATE */

@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@400;600;700&family=Rubik:wght@400;600;700;900&display=swap');

* {
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body {
    background: #493f4f;
    cursor: url(img/cursor.png), auto;
}

h1 {
    font-family:'rubik', sans-serif;
    color: transparent;
    -webkit-text-stroke: 1px #ddc8e6;
    font-size:2.5rem;
    font-style:italic;
    font-weight:600;
}

p {
    font-family:'Hind Siliguri', sans-serif;
    color:#ddc8e6;
    font-size:1.2rem;
    line-height:1rem;
}

a {
    font-weight:bold;
    color:#867491;
    text-decoration:none;
}

a:hover {
    font-style:italic;
    cursor: url(img/pointer.png), pointer;
}

#page-wrapper {
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    min-width:100vh;
    min-height:100vh;
}

.main-section {
    display:flex;
    justify-content:center;
    align-items:center;
    gap:1rem;
    width:350px;
    padding:10px;
    border: 1px solid #2e2930;
    box-shadow: #2e2930 2px 2px;
    background-color: #867491;
    z-index:2;
    margin-bottom:25px;
}

.dark-text {
    color: #493f4f;
}

.light-text {
    color: #ddc8e6;
}

.darkest-text {
    color: #2e2930;
}

.dark-bg {
    background-color: #493f4f;

}

.light-bg {
    background-color: #ddc8e6;
}

.darkest-bg {
    background-color: #2e2930;
}

.main-text {
    color: #867491;
}

.bold-italic {
    font-weight:bold;
    font-style:italic;
}

.icon {
    width:120px;
    border: 3px double #2e2930;
}

.nav-button {
    text-decoration:none;
    font-size:1.5rem;
    display:inline-block;
    width:15px;
    height:15px;
    margin-top:5px;
    margin-right:8px;
}

.nav-button:hover {
    cursor: url(img/pointer.png), pointer;
    background-color:#867491;
    transition:200ms ease;
}

.section {
    width:350px;
    margin:0;
    display:none;
    z-index:2;
}

.box {
    display:none;
}

.section p {
    color:#dfd1e6;
    line-height:1.2rem;
    font-size:1.1rem;
}

.section ul>li {
    font-family:'Hind Siliguri', sans-serif;
    color:#dfd1e6;
    line-height:1.2rem;
    font-size:1.1rem;
    margin-top:5px;
    margin-left:20px;
    margin-right:20px;
}

.tippy-box[data-theme~='mayoi'] {
    background-color: #2e2930;
    color: #dfd1e6;
    font-family:'Hind Siliguri', sans-serif;
  }

  @media (max-width: 768px) { 
    #page-wrapper {
        min-width:1px;
        max-width:768px;
        padding:20px;
    } 

    .nav-button {
        width:20px;
        height:20px;
    }
}